################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.json
*.sce
*.pyc
/no-people.png
/People.png
/data.txt
*.asv
/HammingBird.ipynb
/HammingBird.code-workspace
/.vs/AppliedPythonology/FileContentIndex
